.editmsg-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 4%;
    width: 70%; /* Adjust this width as needed */
    background-color: #ffffff;
    border-right: 1px solid #ccc;
  }
  .options-attachment{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom: 0;
    left: 74.05%;
    width: 30%;
    background-color: #ffffff;
  }
  .attachment{
    
    margin: 2.5%;
    border:2px dashed #a1a0a0;
    height: 40%;
    width: 80%;
    border-radius:3%;
    margin-top: 4%;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 2.5%;
    cursor: pointer;
    color: #fff;
    background-color: #8b8888;
    border: none;
    border-radius: 5px;
    margin-left: 27%;
    margin-top: 10%;
  }
  
  .custom-file-upload:hover {
    background-color: #c8c9ca;
  }
  
  /* Hide default file input */
  input[type="file"] {
    display: none;
  }
  
  .options-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f4f2f2 ;
    padding: 5.1%;
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  
  .textarea-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #f4f2f2;
    
  }
  
  .item {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1%;
  }
  
  .item:hover {
    background-color: #eaeaea;
  }
  
  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-text span {
    margin-top: 5px;
  }
  .from-section span{
    margin-right:16%;
    font-size: large;
    margin-left: 2%;
  }
  .to-section span{
    margin-right:18.4%;
    font-size: large;
    margin-left: 2%;
  }
  .subject-section span{
    margin-right:14%;
    font-size: large;
    margin-left: 2%;
  }
  .custom-input {
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1%;
    width: 70%;
    margin-top: 10px;

  }
  #your-email{
    width: 73.45%;
    border-radius: 5px;
  }
  #subject{
    width: 73.45%;
    border-radius: 5px;
  }
  
  .edit-identities {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }
  
  .to {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .add-contact {
    margin-right: 10px;
    color: #007bff;
    cursor: pointer;
  }
  .recipient-container {
    position: relative;
    display: inline-block;
}

.add-recipient-button {
    display: inline-block;
    cursor: pointer;
    padding: 1%;
    margin-top: 10px;
    background-color: #f4f2f2;
    border: 1px solid #ccc;
    height: 15.4px;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-recipient-options {
    position: absolute;
    top: 30%;
    right: 0;
    background-color: #fff;
    border: 0.5px solid #ccc;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.recipient-option {
    padding: 5px;
    border-bottom: 0.5px solid #ccc;
    cursor: pointer;
}
.recipient-option:hover{
background-color: #e5e4e4;
}

.recipient-option:last-child {
    border-bottom: none;
}

  
  .subject input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
  }
  
  .text-area {
    margin-top: 10px;
  }
  
  
  .text-area textarea {
    border: 1px solid #ccc;
    padding: 8px;
    width: 94%;
    height: 50vh;
    resize: none;
   
    margin-left: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .button-row {
    display: flex;
    margin-top: 10px;
    margin-left: 2%;
    background-color:#e3dfdf;

    width: 95.75%;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .button-row .select-button{
    background-color: transparent;
    margin: 0px;
    border: none;
    padding: 0px;
    margin-left: 2%;
  }
  .select-button:last-child{
    margin-left: 5%;
    width: fit-content;
  }
  .button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right:6%;
    padding: 1%;

  }
  .button:first-child{
    margin-left: 10px;
  }
  
  .button:focus {
    outline: none;
  }
  .button:hover{
    background-color: #ccc;
  }
  .input-section {
    display: flex;
    flex-direction: column;
  }
  
  .from-section,
  .to-section,
  .subject-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
 
.scrolable {
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: calc(100vh - 110px); /* Adjust the max-height as needed */
}
.send-button{
    margin-left: 2%;
    
}
.send-button  button{
    background-color: #4d9aec;
    border: none;
    padding: 1.4%;
    border-radius: 5px;
    font-size: medium;
}
.send-button button:hover{
    background-color: #85bdf9;
}
.attachment span{
    font-size: small;
    color: #8b8888;
    margin-left: 15%;
}
.upload{
    height: 35%;
    color: #e4e3e3;
    margin-left: 30%;
    margin-top: 15%;
}