.menu_section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4%; /* Adjust this width as needed */
    background-color: #08090b;
  }
 .menu_section button{
  background-color: #08090b;
  color: white;
  border: none;
  font-size:x-large;
  padding: 10px; 
 }
 .menu_section img{
  margin-bottom: 30px;
 }

.logout{
  margin-top: auto;
}

.menu_section button:hover{
  background-color: #373839;
}
